<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav>
            <ul>
                <li><h2>OnLine_CoUrSe</h2></li>
                <ul>
                    <li><a routerLink=""><h3>HOME</h3></a></li>
                    <li><a href="#blog"><h3>ABOUT</h3></a></li>
                    <li><h3>BLOG</h3></li>
                    <li><h3>CONTACT</h3></li>
                    <li><h3 id="contact">+91 7895462145</h3></li>
                </ul>
            </ul>
        </nav>
        <section class="pattern">
        <section class="details">
            <div id="data">
                <h1>Take the first step to learn with us,Develop a passion for learning new things.</h1>
                <p>Learn something new Everyday.Education is not just about going to school and getting a degree.It's about widening your knowledge and absorbing the truth about life.Knowledge is power</p>
                <a routerLink="course"><button>EXPLORE NOW</button></a>
            </div>
            <div>
                <img src="assets/image.jpg" alt="img">
            </div>
        </section>
    </section>
    <div id="blog">
            <ul>
                <li><img  src="assets/cer.jpg" id="img"></li>
                <li>Certificate</li>
                <li id="para">certificate's will be provided and it is weightage gained through this course and it would be useful for your placements.</li>
            </ul>
            <ul>
                <li><img  src="assets/expert.png" id="img"></li>
                <li>Expert Instructors</li>
                <li id="para">Expert teachers have deeper representations about teaching
                    and learning individual student's performance in the class.
                </li>
            </ul>
            <ul>
                <li><img src="assets/learn.jpg" id="img"></li>
                <li>Learn from anywhere</li>
                <li id="para">It is a web-based learning experience in which
                    students log on and engage in traditional class activites.
                </li>
            </ul>
    </div>
   <footer>
       <ul>
           <li><img id="img1" src="assets/mail.jpg"><h4>support@onlinecourse.com</h4></li>
           <li><img id="img1" src="assets/phone.png"><h4>+91 22-27782183</h4></li>
           <li><img id="img1" src="assets/add.png"><h4>309-Rupa Solitarie,Bldg No. A-1,Sector-1 Banglore-560083</h4></li>
       </ul>
   </footer>
</body>
</html>
